body {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
    background-color: beige;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.89), 0 6px 20px 0 rgba(0, 0, 0, 0.829);
    border-radius: 3px;
}

.card-title {
    color: rgb(255, 0, 85);
}

a {
    background-color: rgba(255, 230, 0, 0.212);
    padding: 5px;
    margin: 15px;
    color: rgb(250, 6, 108);
    text-decoration: none;
    border-radius: 5px;
}

.card-body {
    justify-content: space-evenly;
}

#image {
    margin-bottom: 25px;
}

footer {
    color: whitesmoke;
    margin: 55px 0 15px 0;
    /* position: fixed; */
    /* position: absolute; */
    /* bottom: 0; */
    text-align: center;
    /* margin: auto; */
}

span {
    color: black;
}